body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  background-color: #f5f7fa;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

main {
  max-width: 900px;
  margin: auto;
}

.input-group,
.card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

img {
  max-width: 100%;
  max-height: 300px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  object-fit: contain;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

select,
input[type="file"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: #fff;
  box-shadow: 0.2rem 0.4rem 0.8rem 0.1rem #ccc4;
  transition: 0.3s;
  width: 250px;
}

select:hover,
input[type="file"]:hover {
  transform: scale(1.05);
  border-color: #f60;
}

button {
  display: block;
  margin: 0 auto;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    background 0.3s,
    transform 0.2s;
}

button:hover {
  background-color: #e65c00;
  transform: scale(1.05);
}

#result-image {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px #ccc;
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
}

#result-image h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

#output {
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#loading {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  z-index: 1000;
  display: none;
}
